@{
    ViewBag.Title = "About Sell Bazar";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<style>
    body {
        background-image: url('../../CoverPhoto/Cover3.jpg');
        Background-repeat: no-repeat;
        Background-size: cover;
    }
</style>
<p>
    <h4>Everyday A Better Life</h4>
    Discover a world of freshness, warm service and value With over 60 outlets<br />

    <b>Sell Bazar</b> is the largest grocery chain in Bangladesh and Best Retail Brand in the country.
    As part of the <b>Sell Bazar</b> family, your satisfaction and wellbeing are what we work diligently to ensure.
    Most of all, we want to always leave you with a smile, whether you visit our stores or order online, and we are happy to serve you in whatever way we can.
</p>
