@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<style>
    body {
        background-image: url('../../CoverPhoto/Cover3.jpg');
        Background-repeat: no-repeat;
        Background-size: cover;
    }
</style>
<address>
    <h3>Always Here for You</h3>

    <b>Sell Bazar</b> is dedicated to ensuring your complete satisfaction, and we are always happy to hear from you.<br />
    If you have any questions or comments, or just want share your thoughts, call our customer service hotline at:<br />

    <b>16444</b> (9am-7pm, Everyday)
    <br />
    <br />
    <br />
    <br />

    <h4>You can also contact us at our corporate headquarters:</h4><br />

    <b>Address:</b>   Level 8, Novo Tower, 270 Tejgaon I/A, Dhaka 1208, Bangladesh<br />
    <b>Email:</b>  queries@sellbazar.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@sellbazar.com">Support@sellbazar.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@sellbazar.com">Marketing@sellbazar.com</a>
</address>